.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.calculator{
    display: flex;
    flex-direction: column;
    min-width: 21rem;
    min-height: 27rem;
    background-color: #090202;
    border-radius: 2rem;
    align-items: center;
}
.screen{
    width: 18rem;
    height: 5.5rem;
    background-color: #CFCFCF;
    border-radius: 1.25rem;
    margin: 1.25rem 0rem;
    text-align: center;

}
p{
    font-family: "Inter",sans-serif;
    font-size: 2rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2e2d2d;
}
.button-grid{
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.125rem;

}
.buttons{
    font-family: "Alata",sans-serif;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 10rem;
    background-color: #D9D9D9;

}
.operator{
    background-color: #F6BC80;
    border: 0.1rem solid #ff992c;   
}
.buttons:hover{
    cursor: pointer;
}
.buttons:active{
    transform: scale(0.95);
}
.eval{
    background-color: #E08C24;
}